.Cmodal {
    z-index: 110;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.Cmodal-cancel {
    width: 450px;
    height: 300px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    margin: 15% auto;
    padding: 30px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border: 1px solid rgb(221, 221, 221);
}

.Cmodal-close {
    color: gray;
    font-size: 40px;
    cursor: pointer;
    right: 2%;
    top: 0%;
    position: absolute;
}

.Cmodal-title {
    text-align: center;
    margin-bottom: 0%;
    margin-top: 5%;
    margin-left: 1%;
    height: 50px;
    font-size: 32px;
    display: flex; 
}

.Cmodal-buttons {
    text-align: center;
    margin-top: 15%;
}

.Cmodal-cancelbutton {
    border-radius: 10px;
    background-color: #FA5000;
    opacity: 0.9;
    height: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    width: 45%;
    margin-right: 4%;
    padding: 7px 12px;
    border: none;
    cursor: pointer;
}

.Cmodal-closebutton {
    margin-left: 4%;
    border-radius: 10px;
    background-color: #c4c4c4;
    opacity: 0.9;
    height: 50px;
    color: #000000;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    width: 45%;
    padding: 7px 12px;
    border: none;
    cursor: pointer;
}