.detailViewWrapper {
    text-align: left;
    margin-left: 8%;
    margin-right: 8%;
    max-width: 1280px;
    margin-top: 180px;
    position: relative
}

.detailInfoWrapper {
    display: inline-block;
    width: 50%;
}

.detailInfoWrapper p {
    font-size: 15px;
    font-weight: normal;
    color: #888888;
}

.kitchenImg {
    width: 400px;
}

.detailUtensil p {
    color : #000000;
    font-size: 25px;
    font-weight: bold;
}

.detailIngredients p {
    color : #000000;
    font-size: 25px;
    font-weight: bold;
}

hr {
    border: 1px solid #c4c4c4;
}

.floatingViewWrapper {
    width: 48%;
    display: inline-block;
}

.reservationInfoWrapper {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    position: fixed;
    right: 8%;
    top: 35%;
    width: 30%;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    padding: 25px;
}

.ingAmount {
    width: 7% !important;
    font-size: 20px;
}

.ingOptions p {
    display: inline-block;
    width: 40%;
    font-size: 20px;
}

.ingOptions div {
    display: inline-block;
    text-align: right;
    width: 45%;
    font-size: 20px;
}

.ingOptions {
    margin-top: 10px;
    color: rgb(34, 34, 34);
}

.ingCancelBtn {
    width: 5% !important;
    margin-left: 2%;
    display: inline-block;
    background-color: #c4c4c4;
    border-radius: 5px;
    text-align: center !important;
    cursor: pointer;
}
.totalPrice {
    margin-top: 20px;
    font-weight: 500;
}

.totalPrice p {
    display: inline-block;
    width: 20%;
    font-size: 25px;
    letter-spacing: 1px;
}

.totalPrice div {
    display: inline-block;
    text-align: right;
    width: 80%;
    font-size: 25px;
}

.infoWrapper {
    padding: 20px 0;
}

.date {
    margin-bottom: 10px;
    width: 100%;
    color: rgb(34, 34, 34);
}

.infoWrapper p {
    display: inline-block;
    width: 15%;
    font-size: 25px;
}

.reserveBtn {
    border-radius: 10px;
    background-color: #FA5000;
    opacity: 0.8;
    height: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    padding-top: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    cursor: pointer;
}




