.detailViewWrapper {
    text-align: left;
    padding: 20px 120px;
}

.detailInfoWrapper {
    display: inline-block;
    width: 50%;
}

.detailInfoWrapper p {
    font-size: 15px;
    font-weight: normal;
    color: #888888;
}

.kitchenImg {
    width: 400px;
}

.detailUtensil p {
    color : #000000;
    font-size: 25px;
    font-weight: bold;
}


.detailIngredients p {
    color : #000000;
    font-size: 25px;
    font-weight: bold;
}

hr {
    border: 1px solid #c4c4c4;
}

.floatingViewWrapper {
    display: inline-block;
}

.reservationInfoWrapper {
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    width: calc(50% - 120px);
    top: 30%;
}

.dateWrapper {
    padding: 20px 0;
}

.date {
    margin-bottom: 10px;
}


.dateWrapper p {
    display: inline-block;
}





