.detailViewWrapper {
    text-align: left;
    margin: 20px 30px;
}

.detailInfoWrapper {
    display: inline-block;
    width: 50%;
}

.reservationInfoWrapper {
    display: inline-block;
    width: 50%;
}

.detailInfoWrapper p {
    font-size: 15px;
    font-weight: normal;
    color: #888888;
}

.kitchenImg {
    width: 400px;
}

.detailUtensil p {
    color : #000000;
    font-size: 25px;
    font-weight: bold;
}

.detailIngredients {
}

.detailIngredients p {
    color : #000000;
    font-size: 25px;
    font-weight: bold;
}

hr {
    border: 1px solid #c4c4c4;
}

.rightWrapper {
    display: inline-block;
    width: 40%;
}

