#body{
    border:2px solid black;
    grid-template-columns: fit-content(30%) fit-content(70%);
    height: 25vh;
    display:flex;
    min-height: 100px;
    overflow: hidden;
}

#photo{
    height:25vh;
    width:30%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color:pink
}

.center {
    display: block;
    text-align: center;
    margin:auto;
    align-content: center;
    width:100%;
    border-radius: 10%;
}

#content{
    height:auto;
    width:70%;
    float:left;
    display:flex;
    flex-direction: column; 
    grid-template-rows:fit-content(20%) fit-content(80%);
    padding:1.2em;
}

#name{
    height:auto;
    padding:.2em;
    font-size: 20px;
    cursor: pointer;
    display:inline-block;
    text-decoration: underline;
}

#information{
    height:auto;
    min-height: 100px;
    overflow: hidden;
    font-size: 15px;
}

.ingredients{
    display: inline-block;
    padding-left: 1em
}

.utensils{
    display: inline-block;
    padding-left: 1em
}

#ingredients{
    white-space: pre-line;
}

#utensils{
    white-space: pre-line;
}