#body{
    border-bottom :2px solid #c4c4c4;
    overflow: hidden;
    padding: 10px 15px;
    height: 180px;
}

#photo{
    height: 90%;
    width: 45%;
    display: inline-block;
    cursor: pointer;
}

#photo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#content{
    width: calc(55% - 50px);
    margin-left: 20px;
    display: inline-block;
    overflow: hidden;
    height: 90%;
}


#name{
    font-size: 23px;
    cursor: pointer;
    display: inline-block;
}


#price {
    font-size: 14px;
    background-color: #c4c4c4;
    border-radius: 10px;
    padding: 5px;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 10px;;
}

#information{
    font-size: 15px;
}

.ingredients{
    display: inline-block;
    color: rgb(113, 113, 113);
}

.utensils{
    display: inline-block;
    color: rgb(113, 113, 113);
}

#ingredients{
    white-space: pre-line;
    color: rgb(113, 113, 113);
}

#utensils{
    white-space: pre-line;
    color: rgb(113, 113, 113);
}

br {
    display: block;
    margin: 2px 0;
 }