#body{
    border:solid;
    background-color:red;
    grid-template-columns: fit-content(20%) fit-content(80%);
    height: 20vh;
    display:flex;
    min-height: 100px;
    overflow: hidden;
}

#photo{
    background-color:brown;
    height:auto;
    width:20%;
}

#content{
    background-color:forestgreen;
    height:auto;
    width:80%;
    float:left;
    display:flex;
    flex-direction: column; 
    grid-template-rows:fit-content(20%) fit-content(80%);
}

p{
    margin: 0;
    padding: 0;
}

#name{
    height:auto;
    padding:0;
}

#information{
    height:auto;
    border:solid;
    min-height: 100px;
    overflow: hidden;
}