.modal-loginbtn input::placeholder {
    color: #999999;
}

.react-tabs__tab-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}

.react-tabs__tab {
    text-align: center;
    color: #808080;
}

.modal {
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.modal-login {
    width: 480px;
    height: 540px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    margin: 5% auto;
    padding: 5%;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border: 1px solid rgb(221, 221, 221);
}

.close {
    color: gray;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

.modal-title {
    margin-top: 10px;
    height: 75px;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.modal-input {
    margin-bottom: 3%;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    height: 10%;
    box-sizing: border-box;
    border: 2px solid #c4c4c4;
    border-radius: 10px;
}

.modal-input:focus {
    outline: none;
    border: 2px solid rgb(250, 80, 0, 0.9);
    border-radius: 10px;
}

.modal-loginbtn {
    border-radius: 10px;
    background-color: #FA5000;
    opacity: 0.9;
    height: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    margin-top: 15%;
    width: 100%;
    padding: 7px 12px;
    border: none;
}

.warning-wrong {
    color: red;
}

.warning-reserve {
    padding-bottom: 10px;
    color: red;
}

.login-reserve {
    text-align: center;
    font-size: 1.3em;
    margin-top: 25%;
}