.InfoBox {
    margin: 3%;
    width: auto;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border-radius: 10px;
    text-align: left;
    padding: 20px 5%;
    margin-top: 20px;
}

.myPageUserIcon {
    width: 40px;
    display: inline-block;
}

.userName {
    display: inline-block;
    font-size: 28px;
    margin-left: 10px;
    vertical-align: top;
}

.myInfoWrapper {
    display: inline-block;
    width: 80%;
    height: 135px;
}

.logoutbtn {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    font-size: 120%;
    padding: 9px 12px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #c4c4cc;
    color: white;
    border: none;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    opacity: 0.9;
}

.modal-loginbtn input::placeholder {
    color: #999999;
}

.h4-Info {
    font-weight: 400;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 0%;
}