.reservation_box {
    border : 3px solid rgb(250, 80, 0, 0.8);
    border-radius: 10px;
    margin: 3%;
    margin-top: 1%;
    padding: 3%;
}

.inform {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    text-align: left;
}

.reservation h3 {
    text-align: left;
    margin:0;
    margin-left: 3%;
    
}

.options {
    display: inline;
}

.modify {
    height: auto;
    width: 60%;
    text-align: center;
    padding: 9px 12px;
    box-sizing: border-box;
    border-radius: 4%;
    border-width: 1px;
    border-style: groove;
    border-color: darkgray;
}

.cancel {
    height: auto;
    width: 60%;
    text-align: center;
    padding: 9px 12px;
    box-sizing: border-box;
    border-radius: 4%;
    border-width: 1px;
    border-style: groove;
    border-color: darkgray;
}