.reservation_box_future {
    border : 3px solid rgb(250, 80, 0, 0.8);
    border-radius: 10px;
    margin: 3%;
    width: auto;
    text-align: left;
    margin-top: 1%;
    padding: 20px 5%;
}

.reservation_box_past {
    border : 3px solid gray;
    border-radius: 10px;
    margin: 3%;
    width: auto;
    text-align: left;
    margin-top: 1%;
    padding: 20px 5%;
}

.reservation h3 {
    text-align: left;
    margin:0;
    margin-left: 3%;
    
}

.reservationWrapper {
    display: inline-block;
    width: 80%;
    height: 135px;
}

.kitchen_name {
    font-size: 28px;
    margin-bottom: 5%;
}

.cancelbtn {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    font-size: 120%;
    padding: 9px 12px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #c4c4c4;
    color: white;
    border: none;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    /* opacity: 0.9; */
}

.h4-res {
    font-weight: 400;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 0%;
}