.Qmodal {
    z-index: 110;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.Qmodal-question {
    width: 96%;
    height: auto;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    margin-left: 30px;
    margin-top: 10px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border: 1px solid rgb(221, 221, 221);
}

.Qclose {
    color: gray;
    font-size: 40px;
    cursor: pointer;
    right: 2%;
    top: 0%;
    position: absolute;
}

.Qmodal-title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 1%;
}

.Qmodal-info {
    margin: 2%;
    display: inline-block;
    text-align: center;
}

.Qmodal-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3%;
}

.pictures {
    margin: 20px;
    padding: 0% 60px;
    text-align: center;
    vertical-align: middle;
    width: 70%;
}

.descriptions {
    text-align: center;
    font-size: 23px;
}

.div-descriptions {
    text-align: center;
}

.swiper-pagination {
    --swiper-theme-color: #FA5000;
}

.swiper-button-prev {
    --swiper-theme-color: #FA5000;
}

.swiper-button-next {
    --swiper-theme-color: #FA5000;
}

.swiper-slide {
    text-align: center;
}