.Rmodal {
    z-index: 110;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.Rmodal-reserve {
    width: 550px;
    height: 365px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    margin: 10% auto;
    padding: 20px 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border: 1px solid rgb(221, 221, 221);
}

.Rmodal-title {
    height: 50px;
    font-size: 32px;  
    text-align: center;
    border-bottom: 2px solid #c4c4c4;
    margin-bottom: 30px;
}

.reserveInfo {
    margin: 0 1%;
    font-size: 23px;
    margin-bottom: 20px;
}

.Rmodal-info {
    margin: 1%;
    font-size: 21px;
    text-align: left;
}

.reserveModalText {
    display: inline-block;
    width: 15%;
    color: rgb(113, 113, 113);
}

.reserveModalVal {
    display: inline-block;
    width: 80%;
    margin-left: 5%;
    color: black;
}

.Rmodal-buttons {
    text-align: center;
    margin-top: 8%;
}

.Rmodal-mypagebutton {
    border-radius: 10px;
    background-color: #FA5000;
    opacity: 0.9;
    height: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    width: 45%;
    margin-right: 4%;
    padding: 7px 12px;
    border: none;
    cursor: pointer;
}

.Rmodal-homebutton {
    margin-left: 4%;
    border-radius: 10px;
    background-color: #c4c4c4;
    opacity: 0.9;
    height: 50px;
    color: #000000;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    width: 45%;
    padding: 7px 12px;
    border: none;
    cursor: pointer;
}