.inputWrapper {
    vertical-align: middle;
    width: 80%;
    max-width:1030px; 
    height:100px;
    display: flex;
    margin: auto;
    background-color: rgb(250, 80, 0, 0.8); 
    border-radius:28px;
}

#input{
    width: calc(100% - 30px);
    max-width: 1000px;
    height:70px;
    font-size:50px;
    margin:auto;
    text-align: center;
    border-radius:20px;
}

#input:focus {
    outline: none;
}

#input:focus::placeholder {
    color: transparent;
}


.buttonWrapper {
    width:930px;
    height:100px;
    display:flex;
    margin:auto;
}

#buttonSearchInput{
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
}

#buttonSearchInputbutton {
    width:200px; 
    height:50px;
    font-size:22px; 
    margin: auto; 
    background-color: white;
}

#mainContainer {
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.btn_wrapper {
    margin-top: 30px;
    margin-left: calc(50% - 219px);
}

.add_btn {
    display: inline-block;
    width: 190px;
    height: 35px;
    background-color: #f8f9fa;
    border: 2px solid #dfe1e5;
    border-radius: 10px;
    color: #3c4043;
    padding: 10px 8px;
    cursor: pointer;
    vertical-align: top;
}

.add_btn:hover {
    border: 2px solid #c4c4c4;
}

.add_img {
    display: inline-block;
    margin-right: 20px;
    height: 30px;
    margin-top: 3px;
    margin-left: 3px;
    /* margin-top: 3px; */
}

.recommend_img {
    height: 30px;
    display: inline-block;
    margin-right: 12px;
    margin-top: 1px;
}

.recommend_btn {
    display: inline-block;
    width: 190px;
    height: 35px;
    background-color: #f8f9fa;
    border: 2px solid #dfe1e5;
    border-radius: 10px;
    color: #3c4043;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 20px;
    vertical-align: top;
}

.recommend_btn:hover {
    border: 2px solid #c4c4c4;
}

.btnText {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    margin-top: 4px;
    font-weight: 500;
    font-weight: 22px;
}

