.leftHeaderWrapper {
}

.homePageBtnWrapper {
    display: inline-block;
    margin-top: 10px;
}

.searchWrapper {
    height: 100%;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}


.searchInputWrapper {
    border-radius: 15px;
    background-color: #FA5000;
    opacity: 0.8;
    width: 460px;
    height: 48px;
    margin-top: 4px;
    padding-top: 7.5px;
    vertical-align: top;
}

.searchInput {
    display: inline-block;
    height: 40px;
    width: 380px;
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 10px;
}

.searchInput:focus {
    outline: none;
}

input {
    padding: 0;
    margin: 0;
    border-width: 0;
}

.plusBtn {
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    height: 40px;
    width: 40px;
    color: black;
    font-size: 35px;
    margin-left: 10px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

.recBtn {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-left:20px;
    margin-top: 15px;
}  
