.leftHeaderWrapper {
}

.homePageBtnWrapper {
    display: inline-block;
}

.searchWrapper {
    height: 100%;
    display: inline-block;
    margin-left: 20px;
}


.searchInputWrapper {
    border-radius: 15px;
    background-color: #FA5000;
    opacity: 0.8;
    width: 500px;
    height: 70px;
    margin-top: 10px;
}

.searchInput {
    display: inline-block;
    height: 40px;
    width: 340px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;;
}

.searchInput:focus {
    outline: none;
}

input {
    padding: 0;
    margin: 0;
    border-width: 0;
}

.plusBtn {
    display: inline-block;
<<<<<<< HEAD
    border-radius: 25px;
    height: 50px;
    width: 50px;
=======
    height: 40px;
    width: 40px;
>>>>>>> mypage
    margin-left: 20px;
    margin-top: 15px;
}

.recBtn {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-left:20px;
    margin-top: 15px;
}  
