.leftHeaderWrapper {
}

.homePageBtnWrapper {
    display: inline-block;
    margin-top: 10px;
}

.searchWrapper {
    height: 100%;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.searchInputContainer {
    width: 430px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: white;
}


.searchInputWrapper {
    border-radius: 15px;
    background-color: #fc854d;
    width: 460px;
    height: 48px;
    margin-top: 4px;
    padding-top: 7.5px;
    vertical-align: top;
}

.searchInput {
    vertical-align: top;
    display: inline-block;
    height: 40px;
    width: 340px;
    margin-left: 9px;
    border-radius: 10px;
    padding-left: 10px;
    padding: 0;
    margin: 0;
    border-width: 0;
}

input {
    border: none;
    padding: 0;
    margin: 0;
    border-width: 0;
}

.searchInput:focus {
    outline: none;
}


.plusBtn {
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    font-size: 32px;
}

.recBtn {
    vertical-align: top;
    display: inline-block;
    height: 29px;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 5px;
}  


.tagWrapper {
    height: 24px;
}