.inputWrapper {
    vertical-align: middle;
    width:930px; 
    height:100px;
    display: flex;
    margin: auto;
    background-color:orange; 
    border-radius:15px
}

.input{width: 900px;
    height:70px;
    font-size:50px;
    margin:auto;
    text-align: center;
    border-radius:15
}

.buttonWrapper {width:930px;
    height:100px;
    display:flex;
    margin:auto
}

button {width:200px; 
    height:50px;
    font-size:22px; 
    margin: auto; 
    background-color: white;
}

#mainContainer {
    height: 90vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    background-color: aqua;
  }