.grayBtn {
    background-color: #C4C4C4;
    opacity: 0.7;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    padding-top: 18px;
    padding-bottom: 8px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 25px;
    color: black;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

}