.grayBtn {
    background-color: #C4C4C4;
    opacity: 0.7;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    padding: 15px 32px;
    font-size: 25px;
    display: inline-block;
    margin-left: 20px;
}