.myPageBtnWrapper {
    position: fixed;
    right: 20px;
    top: 20px;
}

.btnWrapper {
    background-color: #c4c4c4;
    border-radius: 20px;
    width: 100px;
}



.userIcon {
    width: 50px;
}

.button {
    display: block;
    margin: 0%;
    padding: 0%;
    border-radius: 6px;
}