.ingredientItemWrapper {
    width: 100%;
    padding: 10px;
}

.ingredientImgWrapper {
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    background-color: #c4c4c4;
}

.ingredientImg {
    width: 90px;
    height: 90px;
    margin: 20px;
}

.ingredientOptionWrapper {
    display: inline-block;
    width: calc(100% - 170px);
    height: 30px;
    margin-left: 20px;
}


.plusIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.minusIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px; 
}


