.itemWrapper {
    display: inline-block;
    width: 150px;
    margin: 10px;
}

.itemWrapper span {
    color: #000000;
}

.utensilImg {
    width: 100px;
}

.plusIcon, .minusIcon {
    width: 30px;
    height: 30px;
}

.plusIcon {
    margin-right: 10px;
}

