.information_box {
    border : 5px solid orange;
}

.grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 2fr;
}

.reservation_box {
    border : 5px solid orange;
}

.reservation h3 {
    text-align: left;
}

.inform {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    text-align: left;
}