.question_image {
    position: fixed;
    top: calc(50% + 120px);
    left: calc(50% - 110px);
    color: #3c4043;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.questionImg {
    width: 30px;
    display: inline-block;
    margin-right: 10px;
}


.questionText {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    font-weight: 500;
}