.leftBox{
    width: calc(45% - 40px);
    margin-left: 30px;
    display: inline-block;
    height: 100%;
    margin-top: 130px;
    vertical-align: top;
    margin-right: 10px;
}

.rightBox{
    width:55%;
    display: inline-block;
    overflow: hidden;
    height: calc(100vh - 134px);
    margin-top: 130px;
}

#ListMapView{ 
    overflow: scroll;
    height: calc(100vh - 310px);
}

#recommend{
    height: 60px;
    visibility:hidden;
    text-align: left;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border-radius: 10px;
    width: calc(80% - 40px);
    margin-left: 10%;
    margin-bottom: 10px;
    padding: 20px;
}

#recommend div {
    color: #fa5000;
    opacity: 0.9;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}

.ListMapView{
}

.fetchButton{
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #fa5000;
    opacity: 0.8;
    width: 80%;
    margin-left: 10%;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 500;
    height: 54px;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #fc854d;
    border-radius: 5px;
}
      
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.results {
    padding-left: 15px;
}