.leftBox{
    width: 40%;
    display: inline-block;
    height: 100%;
}

.rightBox{
    width:60%;
    display: inline-block;
    height: 75vh;
}

#ListMapView{
    height:65vh;    
    overflow: auto;
}

#recommend{
    padding:1em;
    border:solid;
    background-color:#F0FFFF;
}

.ListMapView{
    padding:1em;
}