.button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 6px;
  padding: 20px;
}

.modal-background {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(10, 10, 10, 0.86);
}

.modal-card {
  margin: 0 auto;
  display: block;
  margin-top: 250px;
  width: 300px;
  height: 300px;
  background-color: lightgray;
  border-radius: 5px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


